<p>
  This email confirms we've changed your limits as a career advisor for CodeDay. We'll now put you in touch with a
  <strong>maximum</strong> of:
</p>
<ul>
  <li>{{advisor.resumesPerWeek}} students per week for resume feedback</li>
  <li>{{advisor.interviewsPerWeek}} students per week for practice interviews</li>
</ul>
<div>
<div style="color: #484848;">--<br />The CodeDay Team</div>
<div><br /><img src="https://f1.codeday.org/logo.png" /><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br />There's a place in tech for everyone.</a><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br /></a></div>
</div>
