<p>
  {{request.givenName}}, you have received resume feedback from {{advisor.givenName}} {{advisor.familyName}} (who is copied on this email).
</p>
<p>
  Your next step is to make the suggested changes to your resume. After you have made the changes, you can reply-all to this
  email to request a 10-15min call with {{advisor.givenName}} for a final review. (REMEMBER TO REPLY-ALL.)
</p>

{{#if assignment.responseFile}}
<p><a href="{{assignment.responseFile}}"><strong>DOWNLOAD FEEDBACK</strong></a></p>
{{/if}}

{{#if assignment.response}}
{{#each assignment.response}}
<p><strong>{{@key}}</strong><br />{{this}}</p>
{{/each}}
{{/if}}

<div>
<div style="color: #484848;">--<br />The CodeDay Team</div>
<div><br /><img src="https://f1.codeday.org/logo.png" /><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br />There's a place in tech for everyone.</a><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br /></a></div>
</div>
