<p><strong>PLEASE REMEMBER TO CLICK REPLY-ALL INSTEAD OF REPLY.</strong></p>
<p>
  {{advisor.givenName}} {{advisor.familyName}} we're excited to introduce you to {{request.givenName}}
  {{request.familyName}}, who would like to do a practice interview with you.
</p>
<p>
  <strong>{{advisor.givenName}} &mdash;</strong> could you share a few times you would be available in the next few
  weeks? (Or a link to a Calendly/When2meet/etc.) MAKE SURE TO INCLUDE YOUR TIMEZONE.
</p>
<p>It's up to the interviewer how they'd like to conduct the session, but here are our suggestions:</p>
<ul>
  <li>
    Non-technical interviewers: we recommend you focus on the behavioral portion of interviews
    (<a href="https://devskiller.com/45-behavioral-questions-to-use-during-non-technical-interview-with-developers/">sample questions</a>)
  </li>
  <li>
    Technical interviewers: we recommend you start with a straightforward whiteboarding problem (such as bubble sort,
    DFS/BFS, binary search, etc) and adjust what you ask based on performance.
  </li>
</ul>
<div>
<div style="color: #484848;">--<br />The CodeDay Team</div>
<div><br /><img src="https://f1.codeday.org/logo.png" /><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br />There's a place in tech for everyone.</a><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br /></a></div>
</div>
