<p><strong>PLEASE REMEMBER TO CLICK REPLY-ALL INSTEAD OF REPLY.</strong></p>
<p>
  {{advisor.givenName}} {{advisor.familyName}} we're excited to introduce you to {{request.givenName}}
  {{request.familyName}}, a student who would like your feedback on their resume:
  <a href="{{request.resumeUrl}}">{{request.resumeUrl}}</a>
</p>
<p>
  <strong>{{advisor.givenName}} &mdash;</strong> along with your feedback, could you let {{student.givenName}} know
  what your current job and employer are?
</p>
<p>
  <strong>{{request.givenName}} &mdash;</strong> it may be helpful to provide {{advisor.givenName}} with some context
  on what roles/companies you will be applying to with this resume.
</p>
<div>
<div style="color: #484848;">--<br />The CodeDay Team</div>
<div><br /><img src="https://f1.codeday.org/logo.png" /><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br />There's a place in tech for everyone.</a><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br /></a></div>
</div>
