<p>
  {{advisor.givenName}} {{advisor.familyName}} we're excited to introduce you to {{request.givenName}}
  {{request.familyName}}, who would like to do a practice interview with you.
</p>
<p>
  <strong>{{advisor.givenName}} &mdash;</strong> could you share a few times you would be available in the next few
  weeks? (Or a link to a Calendly/When2meet/etc.)
</p>
<div>
<div style="color: #484848;">--<br />The CodeDay Team</div>
<div><br /><img src="https://f1.codeday.org/logo.png" /><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br />There's a place in tech for everyone.</a><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br /></a></div>
</div>
