<p>
  {{advisor.givenName}}, thank you for offering your time to provide resume feedback.
  We've assigned you to provide feedback to {{request.givenName}} {{request.familyName}}:</p>

<p><a href="{{feedbackUrl}}">View {{request.givenName}}'s resume and provide feedback here.</a></p>
<p>We ask that you provide your feedback within the next week if possible. Once you submit your feedback, we will
  introduce you directly to {{request.givenName}} for follow-up questions.</p>

<p>If you need to reach {{request.givenName}} in the meantime, you can email them at
  <a href="mailto:{{request.email}}">{{request.email}}</a>.</p>

<p>(FYI: you can change your limits or stop volunteering at any time by replying to this email.)</p>
<div>
<div style="color: #484848;">--<br />The CodeDay Team</div>
<div><br /><img src="https://f1.codeday.org/logo.png" /><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br />There's a place in tech for everyone.</a><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br /></a></div>
</div>
