<p>
  Thank you for volunteering with CodeDay as a career advisor. As a volunteer in this role, we'll put you in touch
  with students who need advice or practice as they apply for jobs.
</p>
<p>We'll put you in touch with a <strong>maximum</strong> of:</p>
<ul>
  <li>{{advisor.resumesPerWeek}} students per week for resume feedback</li>
  <li>{{advisor.interviewsPerWeek}} students per week for practice interviews</li>
</ul>
<p>
  Most students request help in the Fall and Winter. When we find a student who is a match, we will send you an
  email introduction. <strong>For resumes,</strong> we'll include a link to their resume -- you should read it as
  though they were a candidate applying for a job, and provide feedback focused on content. <strong>For practice interviews,</strong>
  we'll ask that you send over some times you're available or a link to a When2meet/etc once you are introduced to a student.
</p>
<p>For each student, we'll send you a unique link to submit feedback.</p>
<p>You can change your limits or stop volunteering at any time by replying to this email.</p>
<div>
<div style="color: #484848;">--<br />The CodeDay Team</div>
<div><br /><img src="https://f1.codeday.org/logo.png" /><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br />There's a place in tech for everyone.</a><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br /></a></div>
</div>
