<p>
  This email confirms that your career advisor request has been submitted. We've put your request in a queue,
  and as soon as we have an advisor available, we will send you an email introduction to coordinate the next steps.
</p>
<p>
  We will attempt to match you with two points of view: one from someone who is technical (or otherwise works
  directly with programmers), and one from someone in HR.
</p>
<p>
  It may take anywhere from a few hours to a few weeks to receive your intro emails, and both intros may not
  come in at the same time. When you receive one, please respond in a timely manner.
</p>
<p>
  If you have any other questions just let us know!
</p>
<div>
<div style="color: #484848;">--<br />The CodeDay Team</div>
<div><br /><img src="https://f1.codeday.org/logo.png" /><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br />There's a place in tech for everyone.</a><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br /></a></div>
</div>
