<p>
  FYI: we have assigned your resume feedback to our career advisor {{advisor.givenName}} {{advisor.familyName}}.
</p>
<p>
  Within 1-2 weeks, we will email you their detailed feedback. At that time, you will be introduced directly to {{advisor.givenName}} so you
  can set up a call to discuss in more detail.
</p>
<p>
  If you do not receive your feedback within 1-2 weeks please reply to this email.
</p>
<div>
<div style="color: #484848;">--<br />The CodeDay Team</div>
<div><br /><img src="https://f1.codeday.org/logo.png" /><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br />There's a place in tech for everyone.</a><a style="color: #bdbdbd; text-decoration: none;" href="https://www.youtube.com/watch?v=GKNBurEnGow" target="_blank" rel="noopener noreferrer"><br /></a></div>
</div>
